{% extends "base.html" %}
{% load i18n %}
{% block title %}{% block head_title %}{% endblock head_title %}{% endblock title %}

{% block content %}
<div class="bradcam_area breadcam_bg overlay2">
  {% block pagetitle %}
    <h3>{% trans "ReproHack" %}</h3>
  {% endblock pagetitle %}
</div>

<div class="whole-wrap">
  <div class="container box_1170">
    <div class="section-top-border">
      <div class="col-md-10">
        {% block inner %}{% endblock inner %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}
